Repository vertex-center/vertex, pull requests merged in 2023-10, with the labels that each got.

#44 Refactor and add unit tests to the SSH keys
  adapter/ssh_fs.go
  adapter/ssh_fs_test.go
  adapter/ssh_kernel_api.go
  adapter/ssh_kernel_api_test.go
  go.mod
  go.sum
  router/router.go
  router/router_kernel.go
  services/ssh.go
  services/ssh_kernel.go
  services/ssh_kernel_test.go
  services/ssh_test.go
  types/ssh.go
Labels: enhancement

#45 Remove runner with filesystem
  adapter/package_fs.go
  adapter/package_fs_test.go
  adapter/runner_fs.go
  router/dependencies.go
  router/instance.go
  router/packages.go
  router/router.go
  services/dependencies.go
  services/instance.go
  services/package.go
  services/package_test.go
Labels: enhancement

#46 Create a migration tool
  cmd/main/main.go
  migration/migration.go
  migration/migration_test.go
Labels: enhancement

#47 Allow user to choose an image tag in the settings
  adapter/runner_docker.go
  go.mod
  go.sum
  router/instance.go
  services/instance.go
  types/api/errors.go
  types/instance.go
  types/runner.go
Labels: enhancement

#49 Separate logs from download logs
  adapter/runner_docker.go
  go.mod
  go.sum
  router/instance.go
  services/instance.go
  types/event.go
  types/instance.go
  types/logs.go
Labels: enhancement

#51 Divide the instance service into smaller sub-services
  adapter/instance_env_fs.go
  adapter/instance_fs.go
  adapter/instance_fs_test.go
  adapter/instance_service_fs.go
  adapter/instance_settings_fs.go
  adapter/runner_docker.go
  pkg/storage/storage.go
  pkg/storage/storage_test.go
  router/instance.go
  router/router.go
  router/services.go
  services/instance.go
  services/instance_env.go
  services/instance_runner.go
  services/instance_service.go
  services/instance_settings.go
  services/notifications.go
  types/event.go
  types/instance.go
  types/instance_env.go
  types/instance_service.go
  types/instance_settings.go
Labels: enhancement

#52 Create a wrapper for Gin
  adapter/runner_docker.go
  pkg/router/context.go
  pkg/router/error.go
  pkg/router/group.go
  pkg/router/handler.go
  pkg/router/router.go
  router/dependencies.go
  router/docker_kernel.go
  router/hardware.go
  router/instance.go
  router/instances.go
  router/proxy.go
  router/router.go
  router/router_kernel.go
  router/router_proxy.go
  router/security.go
  router/security_kernel.go
  router/services.go
  router/settings.go
  services/proxy.go
  types/api/errors.go
Labels: enhancement

#62 Create Vertex SQL app with basic features
  adapter/instance_env_fs.go
  adapter/sql_dbms.go
  adapter/sql_dbms_postgres.go
  go.mod
  go.sum
  router/router.go
  router/sql.go
  services/instance_runner.go
  services/sql.go
  types/api/errors.go
  types/event.go
  types/service.go
  types/sql.go
Labels: type: Enhancement, app: Vertex SQL

#75 Improve the update process
  adapter/baselines_api.go
  adapter/baselines_api_test.go
  apps/containers/service/service.go
  cmd/main/main.go
  router/dependencies.go
  router/router.go
  router/settings.go
  router/update.go
  services/dependencies.go
  services/updates.go
  services/updates_test.go
  types/api/errors.go
  types/baseline.go
  types/baseline_test.go
  types/dependency.go
  types/event.go
  types/update.go
  updates/updater_client.go
  updates/updater_client_test.go
  updates/updater_repo.go
  updates/updater_repo_test.go
  updates/updater_vertex.go
  updates/updater_vertex_test.go
Labels: app: Settings

#83 Make apps register their own metrics (closes #82)
  apps/containers/app.go
  apps/containers/core/port/services.go
  apps/containers/core/service/metrics.go
  apps/monitoring/core/service/metrics.go
  apps/monitoring/core/service/metrics_events.go
  apps/monitoring/core/types/metrics.go
Labels: type: Enhancement, app: Vertex Monitoring

#84 Create a Service Editor developer tool
  apps/serviceeditor/app.go
  apps/serviceeditor/core/port/handlers.go
  apps/serviceeditor/core/port/services.go
  apps/serviceeditor/core/service/editor.go
  apps/serviceeditor/core/types/errors.go
  apps/serviceeditor/handler/editor.go
  cmd/main/main.go
  core/types/app/app.go
Labels: type: Enhancement

#87 Feat: Add custom database name support
  apps/containers/adapter/container_env_fs.go
  apps/containers/core/port/services.go
  apps/containers/core/service/container.go
  apps/containers/core/types/container.go
  apps/containers/core/types/service.go
  apps/containers/handler/container.go
Labels: type: Enhancement, app: Vertex Containers

#91 Use `docapi` for ssh routes
  .github/workflows/beta.yml
  .github/workflows/call-docapi.yml
  .github/workflows/development.yml
  .github/workflows/release.yml
  cmd/main/main.go
  handler/ssh.go
Labels: type: Documentation
